<header>
    <div class="header-top">
		<div class="nav-modify pull-right">
			<div><a ui-sref="main">成为认证导游</a></div>
			<div ng-if="!isLoggin"><a><div class="headerbutton2" ng-click="openModal('login')" >登陆</div></a></div>
			<div ng-if="!isLoggin"><a><div class="headerbutton" ng-click="openModal('signup')">注册</div></a></div>
			<div class="dropdown-flag" ng-class="{'hidecontent' : !isLoggin}">
				<div class="header-dropdown-toggle">
					<img ng-src="{{userImage}}" ng-if="userImage">
					<i class="fa fa-user"  ng-if="!userImage"></i>
					<a class="header-dropdown" >  {{loginName}} 
						<span class="caret"></span>
					</a>
				</div>
				<div class="header-dropdown-manu" style="cursor: pointer">
					<div><a ui-sref="user.info">个人中心</a></div>
					<div ng-click="logout()">退出</div>				  	
				</div>
			</div>
		</div>
	</div>

	<div>
		<nav class="navbar navbar-modified">
	     	<div class="container-fluid">
		    	<div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
						<a class="navbar-brand" ui-sref="main">
						<img alt="Brand" src="images/logo.png">
						</a>
			    </div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right nav-modify-top">
						<li><a ui-sref="main">首页</a></li>
						<li><a ui-sref="main">行程定制</a></li>
						<li><a ui-sref="main">精品路线</a></li>
						<li><a ui-sref="main">导游预览</a></li>
						<li><a ui-sref="main">高级定制</a></li>
					</ul>
				</div>


		    </div>
		</nav>
	</div>
</header>
