@import 'variables';

header {
  width: 100%;
  .navbar {
    margin: 0;
  }
  display: flex;
  flex-direction: column;
}

.header-top {
  background: $traverllerOrange;
  padding-right: 120px;
  margin-top: -5px;

}

.nav-modify {
  display: flex;
  align-items: center;
  a {
    color: white;
    text-decoration: none;
    div {
        width: 70px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        border: 2px solid $traverllerOrange;
    }
  }

  &>div {
    margin-right: 30px;
      padding: 10px;
  }
  div {
      font-size: 1.5rem;
      color: $traverllerOrange;
      &:hover {
        cursor: pointer;
      }
  }
  div.hidecontent {
      display: none;
  }

  .dropdown-flag {
    height: 100%;
  }

 .header-dropdown-manu {
      display: none;
      position: absolute;
      font-size: 1.3rem;
      width: 150px;
      cursor: pointer;
      z-index: 999;
      top: 35px;
      div {
        width: 80%;
        text-align: center;
        font-weight: 500;
        border: 1px solid $traverllerOrange;
        padding: 10px;
        background: white;
        &:hover {
          color: white;
          background: $traverllerOrange;
          a {
            color: white;
            text-decoration:none;
          }
        }
        a {
          color: $traverllerOrange;
        }
      }
    }
    .header-dropdown-toggle {
      display: flex;
      align-items: center;
      .header-dropdown {
        width: 100%;
      }
      i {
        color: white;
        font-size: 2rem;
        margin-right: 20px;
      }
      img {
        width: 20px;
        margin-right: 10px;
      }
    }

  .headerbutton {
    color: white;
    border-radius: 20px;
    background: $traverllerOrange;
    border: 2px solid white;
  }

  .headerbutton2 {
    border: 2px solid $traverllerOrange;
    color: $traverllerOrange;
    border-radius: 20px;
    background: white;
  }

}


header .navbar-modified .container-fuild-modified{
  background: $traverllerOrange;
}

header .navbar-modified .navbar-brand img{
  margin-left: 60%;
  width: 80%;
}


header .navbar-modified .navbar-right{
  margin-right: 5%;
}

header .navbar-modified .navbar-right li a{
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
}





.nav-modify li:first-child {
  padding-top: 2px;
}


header .navbar-modified .navbar-right li a{
  color: $traverllerOrange;
  padding: 20px;
  font-weight: 400;
}








