@import 'variables';


/*Modal*/

.modal-dialog {
  margin-top: 200px;

}

.modal-content {
  width: 50%;
  min-width: 600px;
  margin: 0 auto;
  border: none;
  padding: 0;
}

.modal-body {
  display: flex;
  padding: 0;
}

.modal-left {
  color: white;
  flex: 3;
  background: $traverllerOrange;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;

  .modal-left-icon {
    font-size: 4rem;
    margin: 0 auto;
  }
  .modal-left-title {
    font-size: 2rem;
    margin: 10px auto;
  }
  .modal-left-oauth {
    padding-top: 100px;
    font-size: 2rem;
    margin: 0 auto; 
      i {
        border: 1px solid white;
        background: white;
        padding: 5px;
        border-radius: 50%;
        color: $traverllerOrange;
        cursor: pointer
        }
  }
  .modal-left-login {
    padding-top: 20px;
    font-size: 1.3rem;
    margin: 0 auto;
      span {

      }
      span:hover {
        text-decoration: underline;
        cursor: pointer;
      }
  }
}

.modal-right {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 40px;  
  font-size: 1.5rem;
  .modal-title {
    font-size: 2.4rem;
    color: #D5D3D3;
    font-weight: 600;
    margin-bottom: 40px;
    cursor: pointer;
    .modalTitleRed {
      color: $traverllerOrange;
    }
  }
  .modal-form-input {
    width: 80%;
    margin: 10px 0;
  }
  .modal-submit {
    width: 80%;
    background: $traverllerOrange;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
  }
}

.modal-close {
  font-size: 2rem;
  padding: 5px 10px 0 0;
}

.modal-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal-password {
  font-size: 1.3rem;
  margin: 0 auto;
  span {
    cursor: pointer;

    color: $traverllerOrange;
  }

}

.modal-aggrement {
  font-size: 1.3rem;
  opacity: 0.6;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-content .control-label{
    margin-right: 30px;
    font-size: 1.2rem;
}


.modal-body .form-input {
  display: flex;
}


.modal-toast {
  font-size: 1.6rem;
  font-weight: 600;
}



.modal-guide {
  .modal-guide-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 600;
    .head-left {
      display: flex;
      align-items: center;
      padding: 10px 10px 10px 60px;
      color: $traverllerOrange;
      div {
        margin-right: 20px;
      }
    }
    i {
      padding: 10px;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
    .stars {
      i {
        padding: 0px;
      }
      i:nth-child(2) {
        color: $traverllerOrange;
      }
    }
  }
  .modal-guide-info {
    display:flex;
    justify-content: center;
    font-size: 1.5rem;
    img {
      width: 80%;
    }
    .modal-guide-info-img {
      padding-left: 30px;
      flex: 1;
    }
    .modal-guide-info-content {
      flex: 1;
      div {
        margin-bottom: 10px;
      }
    }    
  }

  .modal-guide-des {
    font-size: 1.5rem;
    padding: 10px 40px;
  }

  .modal-guide-review {
    font-size: 1.5rem;
    padding: 10px 40px;
    display: flex;
    img {
      width: 10%;
      height: 10%;
      margin: 5px 20px;
    }
    p {
      background: $travellerLightGray;
      padding: 20px;
    }
  }

  .modal-guide-button {
    background: $traverllerOrange;
    color: white;
    font-size: 2.3rem;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 3rem;
    &:hover {
        cursor: pointer;
        opacity: 0.7;    
    }
  }
}


.pagetransfer {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  div {
    margin: 0 auto;

    font-size: 3rem;
  }
}






