<div class="main-banner">
	<div class="main-form">
		<div class="main-slogon" >聪明的选择，让旅行更完美</div>
		<div class="banner-form-group">
			<div style="flex: 1"><traveller-select options="options.city" selected="tourForm.start_city_id" placeholder="入境地" icon="images/icon5.png" key="city_id"></traveller-select></div>
			<div style="flex: 2"><traveller-select-multi options="options.city" selected="tourForm.city_plan" placeholder="增加途经地点" icon="images/icon5.png"></traveller-select-multi></div>
			<div style="flex: 1"><traveller-select options="options.city" selected="tourForm.end_city_id" placeholder="出境地" icon="images/icon5.png" key="city_id"></traveller-select></div>
		</div>

		  <div class="banner-form-group">
			<div style="flex: 4">
				<div class="form-select">
					<div class="inputgroups">
						<img ng-src="images/icon4.png">
						<input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" placeholder="日期">
						<span class="datediff" ng-if="dateDiff">行程共 {{dateDiff}} 天</span>
					</div>
				</div>
			</div>
			<div style="flex: 1">
				<div style="flex: 1"><traveller-select options="options.people" selected="tourForm.num_people" placeholder="人数" icon="images/icon2.png"></traveller-select></div>
			</div>
			<div style="flex: 1">
				<div style="flex: 1"><traveller-select options="options.room" selected="tourForm.num_room" placeholder="房间" icon="images/icon2.png"></traveller-select></div>
			</div>
		  </div>

		  <div class="banner-form-group">
		    <div style="flex: 2"><traveller-select options="options.topic" selected="tourForm.topic" placeholder="旅游主题" style="width: 30%" icon="images/icon3.png" key="value"></traveller-select></div>
		   	<div style="flex: 1"><traveller-select options="options.hotel" selected="tourForm.hotel" placeholder="宾馆等级" style="width: 30%" icon="images/icon1.png" key="value"></traveller-select></div>
		  </div>

		  <div class="form-button"><button type="submit" class="btn" ng-click="submitTour()">开始订制</button></div>
	</div>
</div>

